
$color-base: #123456;
$color-sub: #333333;
$color-key: #ff8a8a;

$fontsize-base: 16px;
$fontsize-title: 30px;

$color-header: #00ff00;
$color-footer: #ff0000;

$color-body: #Dfffff;

body {
  color: $color-base;
  font-size: $fontsize-base;
  background: $color-body;
}

header.header {
  background: $color-header;
}

footer.footer {
  background: $color-footer;
}


