<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body>
<% include ../common/_header %>
<h1>SCSSの使い方</h1>
<p>EJSの役割はテンプレートです</p>
<a href="/index.html">EJSの使い方</a>
<% include ../common/_footer %>
</body>
</html>