<% var meta = { title: 'ES2015(ECMAScript6)の書き方', desc:'ES2015(ECMAScript6)の書き方です。' }; %>
<%- include('../common/_header', { meta: meta }) %>
<h1>ES2015(ECMAScript6)の書き方</h1>
<h2>JavaScriptのサンプル</h2>
<div id="hoge">sample</div>
<button id="change-css-button">css</button>
<button id="change-text-button">text</button>
<button id="fadeout-button">fadeToggle</button>
<button id="show-alert-button">alert</button>

<h2>書き方</h2>
<p>README.mdを参照して下さい。</p>
<% include ../common/_footer %>

