<% var meta = { title: 'ES2015(ECMAScript6)の書き方', desc:'ES2015(ECMAScript6)の書き方です。' }; %>
<%- include('../common/_header', { meta: meta }) %>
<h1>ES2015(ECMAScript6)の書き方</h1>
<h2>JavaScriptのサンプル</h2>
<div class="hoge">sample</div>
<button class="change-css">css</button>
<button class="change-text">text</button>
<button class="fadeout">fadeToggle</button>
<button class="show-alert">alert</button>
<button class="change-css change-text">css & text</button>

<h2>書き方</h2>
<p>README.mdを参照して下さい。</p>

<a href="/index.html">TOPに戻る</a>
<%- include('../common/_footer') %>

