<% var meta = { title: 'ES2015(ECMAScript6)の書き方', desc:'ES2015(ECMAScript6)の書き方です。' }; %>
<%- include('../common/_header', { meta: meta }) %>
<h1>ES2015(ECMAScript6)の書き方</h1>
<h2>JavaScriptのサンプル</h2>
<div class="res-add-border res-change-text res-fadeout">sample</div>
<button class="req-add-border">css</button>
<button class="req-change-text">text</button>
<button class="req-fadeout">fadeToggle</button>
<button class="req-show-alert">alert</button>
<button class="req-add-border req-change-text">css & text</button>

<h2>書き方</h2>
<p>README.mdを参照して下さい。</p>

<a href="/index.html">TOPに戻る</a>
<script type="text/javascript" src="/resources/js/how_to_write_js/index.bundle.js"></script>
<%- include('../common/_footer') %>

