<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= meta.desc %>" />
    <link rel="stylesheet" href="/css/style.css">
    <title><%= meta.title %></title>
  </head>
<body>
<header class="header">
  <p>ヘッダー</p>
  <ul>
    <li><a href="/index.html">TOP</a></li>
    <li><a href="/what_is_ejs/index.html">EJSの使い方</a></li>
    <li><a href="/what_is_sass/index.html">Sass(scss)の使い方</a></li>
    <li><a href="/how_to_write_js/index.html">ES2015(ECMAScript6)の書き方</a></li>
    <li>メニュー4</li>
    <li>メニュー5</li>
  </ul>
</header>
