<header class="header">
    ヘッダー
    <ul>
        <li><a href="/index.html">EJSの使い方</a></li>
        <li><a href="/scss/index.html">Sass(scss)の使い方</a></li>
        <li>メニュー3</li>
        <li>メニュー4</li>
        <li>メニュー5</li>
    </ul>
</header>
