<% var meta = { title: 'TOP', desc:'TOPです。' } %>
<% var path = { css: 'index.css' } %>
<%- include('common/_header', { meta: meta, path: path }) %>
<h1>TOP</h1>
<h2>目次</h2>
<ul>
  <li><a href="what_is_ejs/index.html">EJSの使い方</a></li>
  <li><a href="what_is_sass/index.html">Sass(scss)の使い方</a></li>
  <li><a href="how_to_write_js/index.html">ES2015(ECMAScript6)の書き方</a></li>
  <li>要素1</li>
  <li>要素2</li>
  <li>要素3</li>
  <li>要素4</li>
  <li>要素5</li>
  <li>要素6</li>
  <li>要素7</li>
  <li>要素8</li>
</ul>

<script type="text/javascript" src="/resources/js/index.bundle.js"></script>
<%- include('common/_footer') %>

