<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>EJSの使い方</title>
  </head>
<body>
<% include common/_header %>
<h1>EJSの使い方</h1>
<h2>特にありません</h2>
<p>通常のHTML記法で書くことができます</p>
<p>EJSの役割はテンプレートです</p>
<a href="scss/index.html">SCSSの使い方</a>

<ul>
  <li>要素1</li>
  <li>要素2</li>
  <li>要素3</li>
  <li>要素4</li>
  <li>要素5</li>
</ul>
<% include common/_footer %>
<script type="text/javascript" src="/js/app.bundle.js"></script>
</body>
</html>