<% var meta = { title: 'Sass(scss)の使い方', desc:'このサイトの説明' }; %>
<% var path = { css: 'what_is_sass/index.css' }; %>
<%- include('../common/_header', { meta: meta, path: path }) %>
<h1>Sass(scss)の使い方</h1>
<p>CSSメタ言語Sass(scss)といいます。ややこしいですね。</p>
<p>src/内のファイルを変更&保存すれば自動リロードされます。便利ですね！</p>
<a href="/index.html">TOPに戻る</a>
<script type="text/javascript" src="/resources/js/what_is_sass/index.bundle.js"></script>
<%- include('../common/_footer') %>
