
$color-base: #123456;
$color-sub: #333333;
$color-key: #ff8a8a;

$font-size-base: 16px;
$font-size-title: 30px;

$color-header: #5fffff;
$color-footer: #ff8a8a;

$color-body: #Dfffff;

header.header {
  background: $color-header;
}

body {
  color: $color-base;
  font-size: $font-size-base;
  background: $color-body;
}

footer.footer {
  background: $color-footer;
}
